
body {
  width: 950px;
  margin: 0 auto;
  font-family: calibri;
  color: gray;
  background-color: gray;
}

h1 {
	color: black;
}

h4 {
  border-bottom: 1px solid gray;
  font-size: 20px;
}

a { 
  color: blue;
}

p, li { 
  font-size: 16px;
  line-height: 20px;
}


#contact {
	color: black;
	background-color: clear;
  	padding: 20px;
}

#photo {
  padding: 10px;
}

#summary {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  margin-top: 2px;
  height: 175px;
}

#table {
  
  color: black;
  padding: 5px;
  margin-top: 2px;
}

#profile {
	float: right;
}
