/* Let's write some CSS code! */

p { 
     border: solid 1px;
     padding-left: 52px;
     padding-right: 12px;
     padding-top: 12px;
     padding-bottom: 12px;
     margin-left: 6px;
     margin-right: 6px;
     margin-top: 6px;
     margin-bottom: 6px;
     color: red; 
     font-family: "Arial";
     font-size: 12px; 
 }
td { color: blue; }
       